.header { 
    display: flex;
    justify-content: space-between;
    margin: 10px; 
    border: 1px solid black; 
}

.nav-items > ul { 
    list-style-type: none;
    display: flex;
}

.nav-items > ul > li {
    padding: 10px;
}

.card { 
    width: 200px;
    border: 1px solid grey;
    padding: 10px;
    margin: 10px;
}
.restaurant-list, .shimmer-restaurant-list{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shimmer-card { 
    width: 200px;
    aspect-ratio: 1;
    background-color: lightgrey;
    border: 1px solid grey;
    padding: 10px;
    margin: 10px;
}